@model int

@{
    ViewData["Title"] = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container row">
	<div class="col-12 text-center" style="color:maroon">
		<br />
		Thank you for submitting your order
		<br />
		Your id of your order is @Model
	</div>
</div>

